<div data-hook="admin_document_form_fields" class="row">
  <div class="col-md-6">

    <%= f.hidden_field :product_id, { value: @product.id } %>

    <div data-hook="name" class="form-group">
      <%= f.label :document_type_id, Spree.t(:document_type) %>
      <%= f.select :document_type_id, options_for_select(@document_types.map { |dt| [dt.name, dt.id] }, @document.document_type), include_blank: true, class: 'form-control' %>
    </div>

    <div data-hook="name" class="form-group">
      <%= f.label :name, Spree.t(:name) %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div data-hook="file" class="form-group">
      <%= f.label :attachment, Spree.t(:filename) %>
      <%= f.file_field :attachment %>
      <% if f.object.attachment.file? %>
        <br />
        <%= link_to 'View Current Document', f.object.attachment.url, target: :_blank, class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>
